<h1>Github Users</h1>

<section class="container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. mojo">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let user">
        <div class="avatar"> <img [src]="user.avatar_url"> </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let user">
        <a [routerLink]="['user-repo', user.login]" aria-label="Click to view all user repo">{{user.login}}</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</section>